    <!-- ******ABOUT****** --> 
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">PACSTRAT</h2>
            <p class="intro text-center">Pacific Strategic Solutions Inc. (PacStrat) is a Service Disabled Veteran Owned global mission support company providing services to various defense, intelligence and security markets focusing in South East Asia. Founded by a U.S. Army Special Forces veteran & drawing upon years of real world experience, PacStrat’s team of professional trainers specializes in hands on training that focuses on building client capabilities and capacity.</p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">

                    <div class="icon-holder">
                        <i class="fa fa-crosshairs"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">SMALL UNIT TRAINING</h3>
                        <p>Weapon manipulation and tactics derived from overseas operations.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-anchor"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">MARITIME TRAINING</h3>
                        <p>Solutions ranging from mission planning, navigation, and boat driving to maritime security</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-medkit"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">TRAUMA MEDICINE</h3>
                        <p>Skilled in the latest first-response and trauma medicine methodologies</p>
                    </div><!--//content-->
                </div><!--//item-->           
                <div class="clearfix visible-md"></div>    
            </div><!--//row-->            
        </div><!--//container-->
    </section><!--//about-->
