    <!-- ******FEATURES****** --> 
    <section id="features" class="features section">
        <div class="container text-center">
            <h2 class="title">CAPABILITIES</h2>
            <p>Drawing upon years of real world experience, PacStrat's team of professionals specializes in world class training that focuses on building client capabilities and capacity. Our training is adapted to the tactics and procedures of the respective security force. We take in consideration their culture and their training methodologies, to implement strategies to ensure integration, application and sustainment of the desired capability. We pride ourselves on providing professional, comprehensive, and tailorable instruction. Pacific Strategic Solutions Inc. (PacStrat) offers a wide range of training services:</p>
            <div class="container">

                <div class="row">
                    <div class="col-md-6 exp-block">
                        <div class="col-md-12 exp-text">
                            <strong>Basic and Advanced Trauma Medicine</strong><br />

                        Skilled in the latest first-response and trauma medicine methodologies
                        </div>
                    </div>

                    <div class="col-md-6 exp-block">
                        <div class="col-md-12 exp-text">
                            <strong>Basic and Advanced Weapons Marksmanship</strong><br />

                            Tactics and techniques from real world experience tailored to the individual and team 
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 exp-block">
                        <div class="col-md-12 exp-text">
                        <strong>Maritime Security Services and Training</strong><br />

                        Solutions ranging from mission planning, navigation, and boat driving to maritime security 
                        </div>
                    </div>

                    <div class="col-md-6 exp-block">
                        <div class="col-md-12 exp-text">
                        <strong>Close Quarters Battle & Combative Training</strong><br />

                        Problem solving in a high stress dynamic environment
                        </div>
                    </div>
                </div> 

            </div>
        </div><!--//container-->
    </section><!--//features-->
