    <!-- ******CONTACT****** -->
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center"><i class="fa fa-wifi"></i>  &nbsp;COMMS</h2>
                <p class="intro  text-center"></p>
                <div class="author-message">
                    <div class="profile">
                      <img class="img-responsive" src="{{ site.baseurl }}/images/training.jpg" alt="" />
                    </div><!--//profile-->
                    <div class="speech-bubble">
                        <div id="formview">
                            <form action="https://formspree.io/skam@pacstrat.org"
                                  method="POST">
                                <input type="email" name="email" placeholder="Your email">
                                <textarea name="message" placeholder="Your message"></textarea>
                                <button type="submit">SEND IT</button>
                                <input type="hidden" name="_next" value="/" />
                                <input type="hidden" name="_subject" value="Contact Form Inquiry" />
                                <input type="hidden" name="_cc" value="pferguson@pacstrat.org" />
                            </form>
                        </div>
                    </div><!--//speech-bubble-->
                </div><!--//author-message-->
                <div class="clearfix"></div>
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->
